<div class="fragment component image-container"
     contenteditable="false"
     data-component-id="image"
     style="width: 100%; text-align: center;" data-component-name="richtext.component_image">
    <!--[if mso]>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td style="text-align: center;"><![endif]-->
    <img src="{{ imageSrc|default("http://res.messages.tallink.com/res/tallink_mkt_prod6/69ecc97a1b9b6bfacddfb88ba65f9315b3dc2d0ad62a892768094f8429fd02ba.png") }}"
         {% if imageWidth %}width="{{ imageWidth }}"{% endif %}
         {% if imageHeight %}height="{{ imageHeight }}"{% endif %}
         style="display: block; width: 100%; height: auto;"
         alt="{{ imageAlt|default("Image alt text") }}"
         title="{{ imageName|default("Image title") }}"
         {#class="innertable heightAuto"#}
    >
    <!--[if mso]></td></tr></table><![endif]-->
</div>
